node_modules
npm-debug.log
yarn-error.log
*.log
.DS_Store
Thumbs.db
.vscode
.env
.env.*
dist
build
apache
nginx
pgdata
mysqldata
mongodata
oracledb
appwrite
mariadbdata
redisdata
influxdbdata
miniodata
supabasedb
libreoffice-config
libreoffice-data
onlyoffice-data
docker-compose.override.yml
